header {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 60px;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 110px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 1;
    width: 500px;
    height: 500px;
    border: 8px solid gray;
    border-radius: 15px;
}

.innerBox:hover {
    background-color: green;
}

.innerBox {
    border: 2px solid red;
}


