header {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 60px;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 110px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 8px solid gray;
    border-radius: 15px;
    margin-left: 30px;
}

button {
    height: 25px;
    width: 100px;
    border: 2px solid black;
    border-radius: 15px;
}

.innerBox {
    background-color: green;
}



